<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <title>Digit ML</title>
    <style>
      .container {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .data-container {
        padding: 30px;
        border-right: 1px solid black;
      }
      .predict-container {
        margin: 30px;
      }
      #predicted {
        display: none;
        margin-top: 20px;
      }
      .stats {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1>Digit ML</h1>
    <p>See in <a href="https://github.com/VincentJaouen/hand-digit-ml">Github</a></p>
    <div class="container">
      <div class="data-container">
        <h2>Current data:</h2>
        <ul>
          <li>Total dataset: {{ totalSet }}</li>
        <% _.forEach(data, function(digit) { %>
          <li>digit {{ digit.digit }}: {{ digit.count }} rows</li>
        <% }); %>
        </ul>
        <div>Random samples:</div>
        <div id="samples"></div>
      </div>
      <div class="predict-container">
        <h2>Let's try!</h2>
        <p>
          Draw a digit below:
        </p>
        <div>
          <canvas id="feeder" width="50" height="50" style="outline-width: 1px; outline-style: solid;"></canvas>
        </div>
        <br />
        <button id="clear">Clear</button>
        <button id="predict">Predict</button>
        <a href="#" id="download" onclick="downloadMat()">Download as matrix</a>
        <div id="predicted">
          Is that a <span id="prediction"></span> (<span id="reliability"></span>% reliable) ? <button class="save">Yes, save</button><br /><br />
          No it's a (please select) <select id="digit"></select>  <button class="save">save</button><br /><br />
          <i>* Please make sure the right digit is selected when saving</i>
          <div class="stats">
            <p>Prediction stats</p>
            <ul id="stats"></ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      const digitSelect = document.getElementById('digit');
      for (let i = 0; i < 10; i += 1) {
        const option = document.createElement('option');
        option.setAttribute('value', i);
        option.innerText = i;
        digitSelect.appendChild(option);
      }

      const feed = async (digit, imgData) => {
        const response = await fetch('/feed', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ digit, imgData }),
        });
      };

      const predict = async (imgData) => {
        const resp = await fetch('/predict', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ imgData }),
        });
        const data = await resp.json();
        return data;
      };

      const createCanvasElement = (id) => {
        const elem = document.createElement('canvas');
        elem.setAttribute('id', id);
        elem.setAttribute('width', 50);
        elem.setAttribute('height', 50);
        elem.setAttribute('style', 'outline-width: 1px; outline-style: solid; margin: 10px;');
        return elem;
      };

      const convertCanvasToGrayscale = (context, dimensions) => {
        const grayscale = [];
        for (let i = 0; i < dimensions.width; i += 1) {
          grayscale[i] = [];
          for (let j = 0; j < dimensions.height; j += 1) {
            const pixel = context.getImageData(j, i, 1, 1);
            grayscale[i][j] = pixel.data[3];
          }
        }
        return grayscale;
      };

      const grayscaleToText = (grayscale) => {
        let matrixText = '';
        for (let i = 0; i < grayscale.length; i += 1) {
          const row = grayscale[i];
          for (let j = 0; j < row.height; j += 1) {
            matrixText = `${matrixText}${row[j]} `;
          }
          matrixText = `${matrixText}\n`;
        }
        return matrixText;
      };

      const fillImage = (data, elem) => {
        const sampleRect = elem.getBoundingClientRect();
        const sampleCtx = elem.getContext('2d');
        // rebuild rgba array
        let array = [];

        for(let i = 0; i < data.length; i += 1) {
          const row = data[i];
          for (let j = 0; j < row.length; j += 1) {
            array = array.concat([0, 0, 0, row[j]]);
          }
        }
        const pix = Uint8ClampedArray.from(array);
        const imgData = new ImageData(pix, sampleRect.width, sampleRect.height);
        sampleCtx.putImageData(imgData, 0, 0);
      };

      const draw = (ctx, x, y) => {
        if (ctx && drawing) {
          ctx.beginPath();
          ctx.strokeStyle = 'black';
          ctx.lineWidth = 1;
          ctx.lineJoin = "round";
          ctx.moveTo(lastX, lastY);
          ctx.lineTo(x, y);
          ctx.closePath();
          ctx.stroke();
        }
        lastX = x; lastY = y;
      };

      const getSecondPrediction = (predictions) => {
        // Remove duplicates
        const set = new Set(predictions);
        // Find second max
        return predictions.indexOf(Array.from(set.values()).sort().reverse()[1]);
      };

      const showPrediction = (predictions, prediction) => {
        predicted.style.display = 'block';
        console.log(getSecondPrediction(predictions));
        digitSelect.value = getSecondPrediction(predictions);
        document.getElementById('prediction').innerText = prediction;
        document.getElementById('reliability').innerText = predictions[prediction].toFixed(2);
        const predictionObj = predictions.map((p, i) => ({ digit: i, value: p }));
        document.getElementById('stats').innerHTML = _.sortBy(predictionObj, 'value').reverse().map(p =>
          `<li>Digit ${p.digit}: ${p.value}</li>`).join('');
      };

      const samples = {{ samples }};
      const sampleContainer = document.getElementById('samples');
      for (let sample of samples) {
        const sampleElement = createCanvasElement(`sample-${sample.id}`);
        sampleContainer.appendChild(sampleElement);
        fillImage(sample.image, sampleElement);
      }

      const canvas = document.getElementById('feeder');
      const saves = document.getElementsByClassName('save');
      const predictButton = document.getElementById('predict');
      const predicted = document.getElementById('predicted');
      const download = document.getElementById('download');
      const rect = canvas.getBoundingClientRect();
      const canvasCtx = canvas.getContext('2d');
      let grayscale;
      let drawing = false;
      let lastX;
      let lastY;
      canvas.addEventListener('mousedown', e => {
        x = Math.floor(e.clientX - rect.left);
        y = Math.floor(e.clientY - rect.top);
        drawing = true;
        draw(canvasCtx, x, y);
      });
      canvas.addEventListener('mouseup', e => {
        drawing = false;
      });
      canvas.addEventListener('mouseleave', e => {
        drawing = false;
      });
      canvas.addEventListener('mousemove', e => {
        x = Math.floor(e.clientX - rect.left);
        y = Math.floor(e.clientY - rect.top);
        draw(canvasCtx, x, y);
      });

      clear.onclick = () => {
        canvasCtx.clearRect(0, 0, rect.width, rect.height);
      };

      predictButton.onclick = async () => {
        grayscale = convertCanvasToGrayscale(canvasCtx, rect);
        const { predictions, prediction } = await predict(grayscale);
        showPrediction(predictions, prediction);
      };

      const saveDigit = async () => {
        const digit = digitSelect.value;
        await feed(digit, grayscale);
        canvasCtx.clearRect(0, 0, rect.width, rect.height);
        predicted.style.display = 'none';
      };

      for (const save of saves) {
        save.onclick = () => saveDigit();
      }

      const downloadMat = () => {
        const grayscale = convertCanvasToGrayscale(canvasCtx, rect);
        console.log(grayscaleToText(grayscale));
        download.href = 'data:attachment/text,' + encodeURI(JSON.stringify(grayscale));
        download.target = '_blank';
        download.download = 'imgMatrix.dat';
      };
    </script>
  </body>
</html>
